.directory
.fuse-*
.*.kate-swp

*~
*.o
*.a
*.exe
*.so
*.dll

*.carxp
*.carxs
*.pro.user
*.xml

*.pyc
ui_*.py
icons_rc.py

moc_*.cpp
ui_*.h

c++/*/Makefile
src/carla/qtcreator/Makefile
src/carla/qtcreator/carla_backend
src/carla-bridge/qtcreator/Makefile
src/carla-bridge-ui/qtcreator/Makefile
src/carla-discovery/qtcreator/Makefile
src/carla-includes/vst/

carla-bridge-qtcreator
carla-bridge-lv2-gtk2
carla-bridge-lv2-qt4
carla-bridge-lv2-x11
carla-bridge-vst-x11
carla-discovery-qtcreator
carla-discovery-unix32
carla-discovery-unix64
c++/patchcanvas/PatchCanvas
