.directory
.fuse-*
.*.kate-swp

*~
*.o
*.a
*.exe
*.so
*.dll

*.carxp
*.carxs
*.pro.user

*.pyc
ui_*.py
icons_rc.py

moc_*.cpp
ui_*.h

carla-bridge-*
carla-discovery-*
c++/patchcanvas/PatchCanvas

c++/*/Makefile
src/carla*/qtcreator/Makefile
src/carla-includes/aeffect.h
src/carla-includes/aeffectx.h
