.directory
.fuse-*
.*.kate-swp

*~
*.a
*.o
*.so
*.dll
*.exe

*.carxp
*.carxs
*.pro.user
*.xml

*.pyc
ui_*.py

moc_*.cpp
ui_*.h

carla-bridge-qtcreator
carla-bridge-lv2-gtk2
carla-bridge-lv2-qt4
carla-bridge-lv2-x11
carla-bridge-vst-x11

carla-discovery-qtcreator
carla-discovery-unix32
carla-discovery-unix64
carla-discovery-win32.exe
carla-discovery-win32.exe.so
carla-discovery-win64.exe
carla-discovery-win64.exe.so

c++/carla-includes/vst/
c++/jackmeter/cadence_jackmeter

src/resources_rc.py
