[Desktop Entry]
Name=Caitlyn
GenericName=Caitlyn
Comment=JACK MIDI Sequencer
Exec=caitlyn
Icon=cadence
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;
