[Desktop Entry]
Name=Claudia
GenericName=Claudia
Comment=LADISH Frontend
Comment[fr]=Interface graphique utilisateur pour LADISH
Exec=claudia
Icon=claudia
Terminal=false
Type=Application
Categories=AudioVideo;AudioEditing;Qt;
